In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.rand(10)

array([0.78652553, 0.87471279, 0.01096233, 0.2327616 , 0.5846746 ,
       0.82198737, 0.91297796, 0.96971881, 0.8886262 , 0.79399233])

In [4]:
df = pd.DataFrame({
    'Agent': [1,2,3,4,5,6,7,8,9,10],
    'x': 10 * np.random.rand(10),
    'y': 10 * np.random.rand(10),
    'vx': np.random.rand(10),
    'vy': np.random.rand(10)
    })

df

   Agent         x         y        vx        vy
0      1  3.716227  4.213035  0.969173  0.383325
1      2  5.814737  6.598253  0.242808  0.487222
2      3  3.524038  8.205775  0.878578  0.071021
3      4  7.904616  5.240070  0.747417  0.521073
4      5  5.390503  3.916132  0.754596  0.695649
5      6  9.698537  4.006751  0.572322  0.668760
6      7  7.644618  3.502675  0.963656  0.717787
7      8  6.910080  1.318147  0.872694  0.524569
8      9  4.768711  1.185069  0.153381  0.334200
9     10  5.716445  3.652289  0.007762  0.114599

In [5]:
def move(df, dt):
    aux_df = df.copy()

    aux_df['x'] = aux_df.apply(lambda row: row['x'] + row['vx']*dt, axis=1)
    aux_df['y'] = aux_df.apply(lambda row: row['y'] + row['vy']*dt, axis=1)

    return aux_df

In [6]:
move(df, 1)

   Agent          x         y        vx        vy
0      1   4.685399  4.596359  0.969173  0.383325
1      2   6.057545  7.085475  0.242808  0.487222
2      3   4.402615  8.276796  0.878578  0.071021
3      4   8.652033  5.761143  0.747417  0.521073
4      5   6.145099  4.611781  0.754596  0.695649
5      6  10.270859  4.675511  0.572322  0.668760
6      7   8.608274  4.220462  0.963656  0.717787
7      8   7.782774  1.842715  0.872694  0.524569
8      9   4.922092  1.519269  0.153381  0.334200
9     10   5.724207  3.766887  0.007762  0.114599

In [12]:
def agent_translate(agent, dt, direction):
    return agent[direction] + agent[f'v{direction}']*dt
    

def move(df, dt):
    aux_df = df.copy()

    aux_df['x'] = aux_df.apply(agent_translate, **{'dt': 1, 'direction':'x'}, axis=1)
    aux_df['y'] = aux_df.apply(agent_translate, **{'dt': 1, 'direction':'y'}, axis=1)

    return aux_df

In [13]:
move(df, 1)

   Agent          x         y        vx        vy
0      1   4.685399  4.596359  0.969173  0.383325
1      2   6.057545  7.085475  0.242808  0.487222
2      3   4.402615  8.276796  0.878578  0.071021
3      4   8.652033  5.761143  0.747417  0.521073
4      5   6.145099  4.611781  0.754596  0.695649
5      6  10.270859  4.675511  0.572322  0.668760
6      7   8.608274  4.220462  0.963656  0.717787
7      8   7.782774  1.842715  0.872694  0.524569
8      9   4.922092  1.519269  0.153381  0.334200
9     10   5.724207  3.766887  0.007762  0.114599

Now see this: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pipe.html